/*ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ui, ol, li {
  list-style: none;
}

a {
  text-decoration: unset;
  color: unset;
  display: block;
}
a.texto_subtitulo {
  color: #7e7e7e;
  font-size: 11.5px;
  text-align: left;
}

img {
  width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 72px;
}

h2 {
  font-size: 27px;
  line-height: 38px;
  font-weight: 600;
}
h2.subtitulos_section {
  font-size: 25px;
  text-transform: uppercase;
  color: black;
}
h2.subtitulos_section.dark {
  color: black;
}
h2.subtitulos_section.white {
  color: white;
  font-weight: 400;
}

h3 {
  font-size: 13px;
  font-weight: 700;
}

h4 {
  font-size: 30px;
  font-weight: 300;
}

p {
  font-size: 11px;
  line-height: 17px;
  font-weight: 400;
}
p.nombre_equipo {
  margin: 0 17px;
}
p.marcador {
  color: #dd1c22;
  font-size: 20px;
  line-height: 30px;
}
p.fecha {
  margin-right: 8px;
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

.contenedor {
  width: calc(100% - 140px);
  margin: 0 auto;
  padding: 40px 0;
}
.contenedor .row .col.izq {
  width: 50%;
  float: left;
}
.contenedor .row .col.der {
  width: 50%;
}

.col-2 {
  width: 50%;
  float: left;
}

.col-4 {
  width: 25%;
  float: left;
}

.col-5 {
  width: 20%;
  float: left;
}

a.boton_entradas:hover {
  opacity: 0.7;
}

.back_red {
  background-color: #dd1c22;
  color: white;
}

.back_dark {
  background-color: #202020;
  color: white;
}

a.boton_vermas {
  color: #dd1c22;
}
a.boton_vermas:hover {
  opacity: 0.7;
}

a.back_transparent {
  border: 1px solid #dd1c22;
  text-align: center;
  color: #dd1c22;
  font-size: 12px;
  transition: all 0.5s;
}
a.back_transparent:hover {
  background-color: #dd1c22;
  color: white;
}

.back_white {
  background-color: white;
  color: #dd1c22;
}

.subtitulo {
  padding-left: 12px;
}

.back_position {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

header {
  height: 95px;
  position: fixed;
  width: 100%;
}
header .contenedor {
  height: 100%;
}
header .contenedor .row {
  height: 100%;
  position: relative;
  align-items: center;
  display: flex;
}
header .contenedor .row nav {
  width: 50%;
  display: flex;
  float: left;
}
header .contenedor .row nav .nav_movil i.fas.fa-bars {
  font-size: 27px;
  color: white;
}
header .contenedor .row nav ul {
  display: flex;
  align-items: center;
}
header .contenedor .row nav ul li {
  margin-left: 42px;
  text-transform: uppercase;
  opacity: 0.7;
  position: relative;
  color: white;
}
header .contenedor .row nav ul li.active {
  opacity: 1;
}
header .contenedor .row nav ul li.active:after {
  content: "";
  width: 42px;
  background-color: #eec159;
  height: 3px;
  bottom: -5px;
  position: absolute;
  left: 0;
}
header .contenedor .row .logo_img {
  width: 46px;
  position: absolute;
  left: calc(50% - 23px);
  top: 14px;
}
header .contenedor .row .acceso {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
header .contenedor .row .acceso .cuenta p {
  color: white;
  opacity: 0.7;
  margin-left: 9px;
}
header .contenedor .row .acceso .buscador {
  margin-left: 23px;
}
header .contenedor .row .acceso .buscador i.fas.fa-search {
  color: white;
  opacity: 0.7;
}
header .contenedor .row .acceso .buscador input[type=search] {
  border: unset;
  background: transparent;
  color: white;
  margin-left: 9px;
}
header .contenedor .row .acceso .buscador input[type=search]::placeholder {
  color: white;
  opacity: 0.7;
}

section.banner_cinceano {
  height: 100vh;
}
section.banner_cinceano img.back_position {
  height: 100%;
}
section.banner_cinceano .contenedor {
  height: 100%;
  display: flex;
  align-items: center;
}
section.banner_cinceano .contenedor .col.izq {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: left;
}
section.banner_cinceano .contenedor .col.izq p, section.banner_cinceano .contenedor .col.izq h1, section.banner_cinceano .contenedor .col.izq h2 {
  color: white;
}
section.banner_cinceano .contenedor .col.izq a {
  color: white;
  background-color: #dd1c22;
  width: 187px;
  padding: 15px 27px;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}
section.banner_cinceano .fechas_futbol {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.55);
  bottom: 0;
  width: 100%;
  height: 71px;
  overflow: hidden;
}
section.banner_cinceano .fechas_futbol img {
  width: 40px;
}
section.banner_cinceano .fechas_futbol .ultimo_partido, section.banner_cinceano .fechas_futbol .siguiente_partido {
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-end;
  min-height: 71px;
  padding: 0 33px;
}
section.banner_cinceano .fechas_futbol .ultimo_partido .local, section.banner_cinceano .fechas_futbol .ultimo_partido .visitante, section.banner_cinceano .fechas_futbol .siguiente_partido .local, section.banner_cinceano .fechas_futbol .siguiente_partido .visitante {
  display: flex;
  align-items: center;
}
section.banner_cinceano .fechas_futbol .ultimo_partido span, section.banner_cinceano .fechas_futbol .siguiente_partido span {
  margin: 0 8px;
}
section.banner_cinceano .fechas_futbol .siguiente_partido {
  justify-content: flex-start;
}
section.banner_cinceano .fechas_futbol .siguiente_partido a.boton_hover {
  font-size: 12px;
  text-transform: uppercase;
  padding: 11px 23px;
  display: flex;
  justify-content: space-between;
  width: 150px;
  border: 2px solid red;
  margin-left: 30px;
}

section.partidos {
  height: 390px;
}
section.partidos .contenedor .row .items_partido .item_partido {
  padding: 35px;
}
section.partidos .contenedor .row .items_partido .item_partido .logos_equipo {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 10px;
}
section.partidos .contenedor .row .items_partido .item_partido .logos_equipo img {
  width: auto;
  height: 50px;
  margin-right: 17px;
}
section.partidos .contenedor .row .items_partido .item_partido .logos_equipo .resultado {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
section.partidos .contenedor .row .items_partido .item_partido .datos_partido {
  padding-top: 14px;
}
section.partidos .contenedor .row .items_partido .item_partido .datos_partido h4.nombre_liga {
  font-size: 12px;
  color: #bebebe;
  margin-bottom: 14px;
}
section.partidos .contenedor .row .items_partido .item_partido .datos_partido p {
  color: #686868;
  font-size: 13px;
}
section.partidos .contenedor .row .items_partido .item_partido .datos_partido a.boton_vermas {
  color: #dd1c22;
  margin-top: 27px;
  position: relative;
  bottom: -20px;
  font-size: 12px;
}
section.partidos .contenedor .row .items_partido .item_partido .datos_partido a.boton_vermas i.fas.fa-chevron-right {
  padding: 0 20px;
}
section.partidos .contenedor .row .items_partido .item_partido .datos_partido a.boton_entradas {
  width: 105px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  float: right;
}
section.partidos .contenedor .row .items_partido .item_partido.porjugar .botones {
  color: #d2d2d2;
}
section.partidos .contenedor .row .items_partido .item_partido.porjugar .botones a.boton_vermas {
  color: #d2d2d2;
}
section.partidos .contenedor .row .items_partido .item_partido.porjugar .botones .boton_entradas {
  display: none;
}
section.partidos .contenedor .row .items_partido .item_partido.jugado .boton_entradas {
  display: none;
}
section.partidos .contenedor .row .items_partido .item_partido.jugado .logos_equipo {
  border-bottom: 2px solid #dd1c22;
}

section.videos {
  position: relative;
}
section.videos .row {
  padding: 36px 38px;
}
section.videos .swiper-container .swiper-slide {
  max-width: 261px;
}
section.videos .swiper-container .swiper-slide p {
  background-color: transparent;
  color: white;
  text-align: left;
  margin: 15px 0;
  font-size: 13px;
}
section.videos .swiper-container .swiper-slide .tiempovideo {
  display: flex;
  align-items: center;
}
section.videos .swiper-container .swiper-slide .tiempovideo .logo_play {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.videos .swiper-container .swiper-slide .tiempovideo .logo_play i.fas.fa-caret-right {
  color: white;
  font-size: 13px;
}
section.videos .swiper-container .swiper-slide .tiempovideo span {
  color: white;
  font-size: 13px;
}
section.videos .swiper-container .swiper-slide .tiempovideo p {
  margin: 0 8px;
}

section.noticias {
  background: #f5f3f3;
}
section.noticias .contenedor .row {
  display: flex;
  justify-content: space-between;
}
section.noticias .contenedor .row .noticias {
  background-color: white;
}
section.noticias .contenedor .row .col-2 {
  width: 49%;
  display: flex;
  height: 342px;
  background-color: white;
  margin-bottom: 25px;
}
section.noticias .contenedor .row .col-2 .col.izq {
  overflow: hidden;
}
section.noticias .contenedor .row .col-2 .col.izq img {
  height: 100%;
  width: auto;
  position: relative;
  left: -70px;
}
section.noticias .contenedor .row .col-2 .col.der {
  padding: 57px 38px;
  position: relative;
}
section.noticias .contenedor .row .col-2 .col.der h2 {
  font-size: 17px;
  font-weight: 700;
  line-height: 23px;
  padding-bottom: 16px;
  position: relative;
  margin-bottom: 30px;
}
section.noticias .contenedor .row .col-2 .col.der h2:after {
  content: "";
  width: 61px;
  height: 2px;
  background-color: #dd1c22;
  position: absolute;
  left: 0;
  bottom: 0;
}
section.noticias .contenedor .row .col-2 .col.der p.texto_noticia {
  color: #7e7e7e;
}
section.noticias .contenedor .row .col-2 .col.der .publicacion_hora {
  display: flex;
  margin-top: 50px;
}
section.noticias .contenedor .row .col-4 {
  flex-direction: column;
  width: 24%;
  display: flex;
  height: auto;
}
section.noticias .contenedor .row .col-4 .col.bot {
  padding: 24px;
  position: relative;
}
section.noticias .contenedor .row .col-4 .col.bot h2 {
  font-size: 17px;
  font-weight: 700;
  line-height: 23px;
  padding-bottom: 16px;
  position: relative;
  margin-bottom: 40px;
}
section.noticias .contenedor .row .col-4 .col.bot h2:after {
  content: "";
  width: 61px;
  height: 2px;
  background-color: #dd1c22;
  position: absolute;
  left: 0;
  bottom: 0;
}
section.noticias .contenedor .row .col-4 .col.bot p.texto_noticia {
  color: #7e7e7e;
}
section.noticias .contenedor .row .col-4 .col.bot .publicacion_hora {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 25px;
}
section.noticias .contenedor .row .col-4 .col.bot .publicacion_hora .entrevistador {
  display: flex;
}
section.noticias .contenedor .row .col-4 .col.bot .publicacion_hora .entrevistador .perfil {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 6px;
  position: relative;
}
section.noticias .contenedor .row .col-4 .col.bot .publicacion_hora .entrevistador .perfil img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}
section.noticias .contenedor a.back_transparent {
  width: 189px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 12px;
  padding: 9px 0;
  margin-top: 25px;
}

section.jugadores {
  background-color: #f5f3f3;
}
section.jugadores .row {
  background-color: white;
  height: 400px;
  overflow: hidden;
  padding: 0 84px;
}
section.jugadores .row .col {
  width: 50%;
}
section.jugadores .row .col.izq {
  float: left;
  display: flex;
}
section.jugadores .row .col.izq img {
  width: 400px;
  float: left;
}
section.jugadores .row .col.izq .col-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.jugadores .row .col.izq .col-4 p {
  font-size: 40px;
  color: #dd1c22;
  position: relative;
}
section.jugadores .row .col.izq .col-4 p:before {
  content: "#";
  top: -10px;
  font-size: 21px;
}
section.jugadores .row .col.izq .col-4 h2 {
  font-size: 37px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 800;
}
section.jugadores .row .col.izq .col-4 h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.24px;
}
section.jugadores .row .col.izq .col-4 i.fas.fa-chevron-right {
  display: none;
}
section.jugadores .row .col.izq .col-4 a.back_red {
  width: 98px;
  display: flex;
  justify-content: space-between;
  padding: 7px;
  overflow: hidden;
}
section.jugadores .row .col.izq .col-4 a.back_red i.fas.fa-chevron-right {
  display: block;
}
section.jugadores .row .col.der {
  float: right;
}
section.jugadores .row .col.der .list_estadistica {
  padding: 0 47px;
}
section.jugadores .row .col.der .list_estadistica h3 {
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}
section.jugadores .row .col.der .list_estadistica ul li {
  display: flex;
  justify-content: space-evenly;
}
section.jugadores .row .col.der .list_estadistica ul li h4 {
  font-size: 11.5px;
  font-weight: 500;
  line-height: 3.48;
  letter-spacing: 0.23px;
  text-align: left;
  color: #a7a7a7;
}
section.jugadores .row .col.der .list_estadistica ul li p {
  font-size: 12px;
  font-weight: 700;
  line-height: 3.33;
  letter-spacing: 0.24px;
  text-align: left;
  color: #000000;
}
section.jugadores .row .col.der .col-2 .lista_jugadores {
  overflow-y: scroll;
  max-height: 400px;
}
section.jugadores .row .col.der .col-2 .lista_jugadores li {
  display: flex;
}
section.jugadores .row .col.der .col-2 .lista_jugadores li img {
  width: 65.5px;
  height: 88px;
  object-fit: contain;
}
section.jugadores .row .col.der .col-2 .lista_jugadores li h6 {
  font-size: 13px;
  font-weight: 800;
  text-align: left;
  color: #000000;
}
section.jugadores .row .col.der .col-2 .lista_jugadores li .nombres_jugador {
  margin-top: 20px;
  margin-left: 20px;
}
section.jugadores .row .col.der .col-2 .lista_jugadores li .nombres_jugador .posicion {
  display: flex;
}
section.jugadores .row .col.der .col-2 .lista_jugadores li .nombres_jugador .posicion p {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  color: #a8a8a8;
}
section.jugadores .row .col.der .col-2 .lista_jugadores li .nombres_jugador .posicion p.numerolist_jugador {
  padding-right: 7px;
  border-right: 2px solid #a8a8a8;
  margin-right: 7px;
}

section.estadisticas {
  background: #f5f3f3;
  height: 600px;
}
section.estadisticas .contenedor .row {
  margin-top: 50px;
}
section.estadisticas .contenedor .row .col-4 {
  padding: 40px;
}
section.estadisticas .contenedor .row .col-4 h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 2.86;
  text-align: left;
  color: #aaaaaa;
  position: a;
}
section.estadisticas .contenedor .row .col-4 .dato_jugador {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.estadisticas .contenedor .row .col-4 .dato_jugador .nombre_estadistica h4 {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}
section.estadisticas .contenedor .row .col-4 .dato_jugador .nombre_estadistica p {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.6;
  color: #dd1c22;
}
section.estadisticas .contenedor .row .col-4 .dato_jugador img {
  width: 86px;
}
section.estadisticas .contenedor .row .col-4 ul li {
  border-top: 1px solid #c8c8c8;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}
section.estadisticas .contenedor .row .col-4 ul li h4 {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
}
section.estadisticas .contenedor .row .col-4 ul li p {
  font-size: 13px;
  font-weight: 800;
  color: #dd1c22;
}

section.banner_compra {
  background-color: black;
  height: 180px;
  overflow: hidden;
  position: relative;
}
section.banner_compra:before {
  content: "";
  width: 200px;
  height: 100%;
  background: #b40208;
  transform: skew(-50deg);
  position: absolute;
  right: 30%;
}
section.banner_compra .contenedor .row .col.izq {
  color: white;
  text-align: center;
}
section.banner_compra .contenedor .row .col.izq img {
  width: 78px;
  position: absolute;
}
section.banner_compra .contenedor .row .col.izq h2 {
  font-size: 32px;
  font-weight: 800;
  font-style: italic;
  line-height: 1.25;
}
section.banner_compra .contenedor .row .col.izq a {
  width: 178px;
  background-color: #dd1c22;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin: auto;
  margin-top: 25px;
}
section.banner_compra .contenedor .row .col.der {
  float: right;
}
section.banner_compra .contenedor .row .col.der img {
  width: 300px;
  position: absolute;
  bottom: -25px;
}