/*ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ui, ol, li {
  list-style: none;
}

a {
  text-decoration: unset;
  color: unset;
}
a.texto_subtitulo {
  color: #7e7e7e;
  font-size: 11.5px;
  text-align: left;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
}

h2 {
  font-size: 27px;
}
h2.subtitulos_section {
  font-size: 25px;
  text-transform: uppercase;
  color: black;
}
h2.subtitulos_section.dark {
  color: black;
}
h2.subtitulos_section.white {
  color: white;
}

p.marcador {
  color: #dd1c22;
  font-size: 20px;
  line-height: 30px;
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

.contenedor {
  width: calc(100% - 140px);
  margin: 0 auto;
}
.contenedor .row .col.izq {
  width: 50%;
  float: left;
}
.contenedor .row .col.der {
  width: 50%;
}

.col-2 {
  width: 50%;
  float: left;
}

.col-4 {
  width: 25%;
  float: left;
}

.col-5 {
  width: 20%;
  float: left;
}

a.boton_entradas:hover {
  opacity: 0.7;
}

.back_red {
  background-color: #dd1c22;
  color: white;
}

.back_dark {
  background-color: #202020;
  color: white;
}

a.boton_vermas {
  color: #dd1c22;
}
a.boton_vermas:hover {
  opacity: 0.7;
}

a.back_transparent {
  border: 1px solid #dd1c22;
  text-align: center;
  color: #dd1c22;
  font-size: 12px;
  transition: all 0.5s;
}
a.back_transparent:hover {
  background-color: #dd1c22;
  color: white;
}

.back_white {
  background-color: white;
  color: #dd1c22;
}

.subtitulo {
  padding-left: 12px;
}