/*ESTILOS GENERALES*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
ui,ol,li{
	list-style: none;
}
a{
	text-decoration: unset;
	color: unset;
	display: block;
	&.texto_subtitulo{
		color: #7e7e7e;
		font-size: 11.5px;
		text-align: left;
	}
}
img{
	width: 100%;
	display: block;
}
h1,h2,h3,h4,h5,h6,p{
	font-family: 'Poppins', sans-serif;
}
h1{
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 72px;
}
h2{
	font-size: 27px;
	line-height: 38px;
	font-weight: 600;
	 &.subtitulos_section{
	 	font-size: 25px;
	 	text-transform: uppercase;
	 	color: black;
	 	&.dark{
	 		color: black;
	 	}
	 	&.white{
	 		color: white;
	 		font-weight: 400;
	 	}
	 	
	 }
}
h3 {
    font-size: 13px;
    font-weight: 700;
}
h4{
	font-size: 30px;
	font-weight: 300;
}
p{
	font-size: 11px;
	line-height: 17px;
	font-weight: 400;
	&.nombre_equipo{
		margin: 0 17px;
	}

	&.marcador{
		color: #dd1c22;
		font-size: 20px;
		line-height: 30px;
	}
	&.fecha{
	 		margin-right: 8px;
	 	}
}
.flex_wrap{
	display: flex;
	flex-wrap: wrap;
}
.contenedor{
	width: calc(100% - 140px);
	margin: 0 auto;
	padding: 40px 0;
	.row{
		.col{
			&.izq{
				width: 50%;
				float: left;
			}
			&.der{
				width: 50%;
			}
		}
	}
}
.col-2{
	width: 50%;
	float: left;
}
.col-4{
	width: 25%;
	float: left;
}
.col-5{
	width: 20%;
	float: left;
}
a.boton_entradas{
	&:hover{
		opacity:.7;
	}
}
.back_red{
	background-color: #dd1c22;
	color: white;
}
.back_dark{
	background-color: #202020;
	color: white;
}

a.boton_vermas{
	color: #dd1c22;
	&:hover{
		opacity:.7;
	}
}
a.back_transparent{
	border: 1px solid #dd1c22;
	text-align: center;
	color: #dd1c22;
	font-size: 12px;
	transition: all 0.5s;
	&:hover{
		background-color: #dd1c22;
		color: white;
	}
}
.back_white{
	background-color: white;
	color: #dd1c22;
}
.subtitulo{
	padding-left: 12px;
}
.back_position{
	z-index: -100;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
header{
	height: 95px;
	position: fixed;
	width: 100%;
	.contenedor{
		height: 100%;
		.row{
			height: 100%;
			position: relative;
			align-items: center;
			display: flex;
			nav{
				width: 50%;
				display: flex;
				float: left;
				.nav_movil{
					i.fas.fa-bars {
					    font-size: 27px;
					    color: white;
					}
				}
				ul{
					display: flex;
					align-items: center;
					li{
						margin-left: 42px;
						text-transform: uppercase;
						opacity: .7;
						position: relative;
						color: white;
						&.active{
							opacity: 1;
							&:after{
							    content: "";
							    width: 42px;
							    background-color: #eec159;
							    height: 3px;
							    bottom: -5px;
							    position: absolute;
							    left: 0;
							}	
						}
					}

				}
			}
			.logo_img{
				width: 46px;
				position: absolute;
				left: calc(50% - 23px);
				top: 14px;
			}
			.acceso{
				width: 50%;
				display: flex;
				justify-content: flex-end;
				.cuenta{
					p{
						color: white;
						opacity: .7;
						margin-left: 9px;
					}
				}
				.buscador{
					margin-left: 23px;
					i.fas.fa-search {
					    color: white;
					    opacity: .7;
					}
					input[type="search"] {
					    border: unset;
					    background: transparent;
					    color: white;
					    margin-left: 9px;
					    &::placeholder{
							color: white;
							opacity: .7;	
					    }
					}
				}
			}
		}
	}
}
section.banner_cinceano{
	height: 100vh;
	img.back_position{
		height: 100%;
	}
	.contenedor{
		height: 100%;
		display: flex;
		align-items: center;
		.col.izq{
			display: flex;
			flex-direction: column;
			width: 50%;
			float: left;
			p,h1,h2{
				color: white;
			}

			a{
				color: white;
				background-color: #dd1c22;
				width: 187px;
				padding: 15px 27px; 
				display: flex;
				justify-content: space-between;
				margin-top: 28px;
				

			}

		}
	}
	.fechas_futbol{
		position: absolute;
		background-color: rgba(0,0,0,.55);
		bottom: 0;
		width: 100%;
		height: 71px;
		overflow: hidden;
		img{
			width: 40px;
		}
		.ultimo_partido,.siguiente_partido{
			display: flex;
			color: white;
			align-items: center;
			justify-content: flex-end;
			min-height: 71px;
			padding: 0 33px;
			.local,.visitante{
				display: flex;
				align-items: center;
			}
			span{
				margin: 0 8px;
			}
		}
		.siguiente_partido{
			justify-content: flex-start;
			a.boton_hover{
				font-size: 12px;
			    text-transform: uppercase;
			    padding: 11px 23px;
			    display: flex;
			    justify-content: space-between;
			    width: 150px;
			    border: 2px solid red;
			    margin-left: 30px;
			}
		}

	}	
}
section.partidos{
	height: 390px;
	.contenedor{
		.row{
			
			.items_partido{
				.item_partido{
					padding: 35px;
					.logos_equipo {
					    display: flex;
					    align-items: center;
					    position: relative;
					    padding-bottom: 10px;
					    img{
					    	width: auto;
					    	height: 50px;
					    	margin-right: 17px;
					    }
					    .resultado{
					    	display: flex;
					    	align-items: center;
					    	position: absolute;
					    	bottom: 0;
					    	right: 0;
					    }
					}
					.datos_partido{
						padding-top: 14px;
						h4.nombre_liga {
						    font-size: 12px;
						    color: #bebebe;
						    margin-bottom: 14px;
						}
						p{
							color: #686868;
							font-size: 13px;
						}
						a.boton_vermas {
						    color: #dd1c22;
						    margin-top: 27px;
						    position: relative;
						    bottom: -20px;
						    font-size: 12px;
						    i.fas.fa-chevron-right {
							    padding: 0 20px;
							}
						}
						a.boton_entradas{
							width: 105px;
							text-align: center;
							text-transform: uppercase;
							padding: 10px 0;
							float: right;
						}
					}
					&.porjugar{
						.botones{
							color: #d2d2d2;
							a.boton_vermas{
								color: #d2d2d2;
							}
							.boton_entradas{
								display: none;
							}
						}
					}
					&.jugado{
						.boton_entradas{
							display: none;
						}
						.logos_equipo{
						border-bottom: 2px solid #dd1c22; 
						}
					}
				}
			}
		}
	}
}
section.videos{
	position: relative;
	.row{
		padding: 36px 38px;
	}
	.swiper-container{
		
		.swiper-slide{
			max-width: 261px;
			p{
				background-color: transparent;
				color: white;
				text-align: left;
				margin: 15px 0;
				font-size: 13px;
			}
			.tiempovideo{
				display: flex;
				align-items: center;
				.logo_play {
				    width: 15px;
				    height: 15px;
				    border-radius: 50%;
				    border: 2px solid white;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    i.fas.fa-caret-right {
					    color: white;
					    font-size: 13px;
					}

				}
				span{
					color: white;
					font-size: 13px;
				}
				p{
					margin: 0 8px;
				}
			}
		}
	}
}
section.noticias{
    background: #f5f3f3;
	.contenedor{
		.row{
			display: flex;
			justify-content: space-between;
			.noticias{
				background-color: white;
			}
			.col-2{
				width: 49%;
				display: flex;
				height: 342px;
				background-color: white;
				margin-bottom: 25px;
				.col.izq{
					overflow: hidden;
					img{
						height: 100%;
						width: auto;
						position: relative;
						left: -70px;

					}
				}
				.col.der{
					padding: 57px 38px;
					position: relative;
					h2{
						font-size: 17px;
						font-weight: 700;
						line-height: 23px;
						padding-bottom: 16px;
						position: relative;
						margin-bottom: 30px;
						&:after{
							content: '';
							width: 61px;
							height: 2px;
							background-color: #dd1c22;
							position: absolute;
							left: 0;
							bottom: 0;

						}
					}
					p.texto_noticia{
						color: #7e7e7e;

					}
					.publicacion_hora {
					    display: flex;
					    margin-top: 50px;
					}
				}
			}
			.col-4{
				flex-direction: column;
				width: 24%;
				display: flex;
				height: auto;
				.col.top{
					img{

					}
				}
				.col.bot{
					padding: 24px;
					position: relative;
					h2{
						font-size: 17px;
						font-weight: 700;
						line-height: 23px;
						padding-bottom: 16px;
						position: relative;
						margin-bottom: 40px;
						&:after{
							content: '';
							width: 61px;
							height: 2px;
							background-color: #dd1c22;
							position: absolute;
							left: 0;
							bottom: 0;

						}
					}
					p.texto_noticia{
						color: #7e7e7e;

					}
					.publicacion_hora {
					    display: flex;
					    align-items: baseline;
					    justify-content: space-between;
					    margin-top: 25px;
					    .entrevistador{
							display: flex;
							.perfil{
								width: 38px;
								height: 38px;
								border-radius: 50%;
								overflow: hidden;
								margin-right: 6px;
								position: relative;
								img{
									position: absolute;
									top: 0;
									left: 0;
									width: auto;
									height: 100%;								}
							}
							.datos_perfil {
						    
							}
						}
					}
					
				}
			}
		}
		a.back_transparent{
			width: 189px;
			margin: 0 auto;
			text-transform: uppercase;
			font-size: 12px;
			padding: 9px 0;
			margin-top: 25px;
		}
	}
}
section.jugadores{
	background-color: #f5f3f3;
	.contenedor{
		
	}
	.row{
		background-color: white;
		height: 400px;
		overflow: hidden;
		padding: 0 84px;
		.col{
			width: 50%;
			&.izq{
				float: left;
				display: flex;
				img{
					width: 400px;
					float: left;
				}
				.col-4{
					display: flex;
					flex-direction: column;
					justify-content: center;
					p{
						font-size: 40px;
						color: #dd1c22;
						position: relative;
						&:before{
							content: '#';
							top: -10px;
							font-size: 21px;
						}
					}
					h2{
						font-size: 37px;
						line-height: 40px;
						text-transform: uppercase;
						margin-top: 20px;
						font-weight: 800;
					}			
					h3{
						text-transform: uppercase;
						font-weight: 600;
						font-size: 12px;
						letter-spacing: .24px;
					}	
					i.fas.fa-chevron-right{
						display: none;
					}
					a.back_red {
					    width: 98px;
					    display: flex;
					    justify-content: space-between;
					    padding: 7px;
					    overflow: hidden;
					    i.fas.fa-chevron-right{
					    	display: block;
					    }
					}
				}				
			}
			&.der{
				float: right;
				.list_estadistica{
					padding: 0 47px;
					h3 {
					    font-size: 14px;
					    text-align: center;
					    margin-top: 50px;
					}
					ul{
						li{
							display: flex;
							justify-content: space-evenly;
							h4{
								font-size: 11.5px;
								font-weight: 500;
								line-height: 3.48;
								letter-spacing: 0.23px;
								text-align: left;
								color: #a7a7a7;
							}
							p{
								  font-size: 12px;
								  font-weight: 700;
								  line-height: 3.33;
								  letter-spacing: 0.24px;
								  text-align: left;
								  color: #000000;
							}
						}
					}
				}
				.col-2{
					.lista_jugadores{
						overflow-y: scroll;
						max-height: 400px;
						li{
							display: flex;
							img{
								width: 65.5px;
								height: 88px;
								object-fit: contain;
							}
							h6{
							  	font-size: 13px;
							  	font-weight: 800;
							 	text-align: left;
							  	color: #000000;
							}
							.nombres_jugador{
								margin-top: 20px;
								margin-left: 20px;
								.posicion {
								    display: flex;
								    p{			
									    font-size: 12px;
									    font-weight: 500;
									    text-align: left;
									    color: #a8a8a8;
									    &.numerolist_jugador{
									    	padding-right: 7px;
									    	border-right: 2px solid #a8a8a8;
									    	margin-right: 7px;
									    }
								    }
								}
							}
						}
					}
				}
			}
		}
	}
}
section.estadisticas{
	 background: #f5f3f3;
	 height: 600px;
	 .contenedor{
	 	.row{
	 		margin-top: 50px;
	 		.col-4{
	 			padding: 40px;
	 			h3{
					font-size: 14px;
					font-weight: 600;
					line-height: 2.86;
					text-align: left;
					color: #aaaaaa;
					position: a
	 			}
	 			.dato_jugador{
	 				display: flex;
	 				align-items: center;
	 				justify-content: space-between;
	 				.nombre_estadistica{
	 					h4{
						  font-size: 15px;
						  font-weight: bold;
						  color: #000000;
	 					}
	 					p{
						    font-size: 25px;
						    font-weight: 500;
						    line-height: 1.6;
						    color: #dd1c22;
	 					}
	 				}
	 				img{
	 					width: 86px;
	 				}

	 			}
	 			ul{
	 				li{
	 					border-top: 1px solid #c8c8c8;
	 					padding: 15px 0;
	 					display: flex;
	 					justify-content: space-between;
	 					h4{
							font-size: 13px;
							font-weight: 600;
							color: #000000;
	 					}
	 					p{
						  font-size: 13px;
						  font-weight: 800;
						  color: #dd1c22;
	 					}
	 				}
	 			}

	 		}
	 	}
	 }
}
section.banner_compra{
	background-color: black;
	height: 180px;
	overflow: hidden;
	position: relative;
	&:before{
		content: '';
		width: 200px; 
	    height: 100%; 
	    background: #b40208;
	    -webkit-transform: skew(-50deg);
	    -moz-transform: skew(-50deg);
	    -ms-transform: skew(-50deg);
	    -o-transform: skew(-50deg);
	    transform: skew(-50deg);
	    position: absolute;
   		right: 30%;
	}
	.contenedor{
		.row{
			.col.izq{
				color: white;
				text-align: center;
				img{
					width: 78px;
					position: absolute;
				}
				h2{
					  font-size: 32px;
					  font-weight: 800;
					  font-style: italic;
					  line-height: 1.25;
				}
				a{
					width: 178px;
					background-color: #dd1c22;
					display: flex;
					justify-content: space-between;
					padding: 10px 20px;
					margin: auto;
    				margin-top: 25px;
				}
			}
			.col.der{
				float: right;
				img{
					width: 300px;
				    position: absolute;
				    bottom: -25px;
				}

			}
		}

	}
}